<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing Olympics</title>

</head>
<body>
<h1>Writing Olympics</h1>
<!--<p><%= locals.text %></p>-->
    <ul>
      <li><%= locals.goals[0].title%></li>
      <li><%= locals.goals[0].start.toLocaleString()%></li>
      <li><%= locals.goals[0].stop.toLocaleString()%></li>
      <li><%= locals.goals[0].target.toLocaleString()%></li>
    </ul>
</body>
</html>
