<% title = `${goal.title} Details` %>
<h1><%= goal.title %></h1>
<ul class="row list-unstyled bg-info">
    <li class="col">Start Date: <%= (goal.start.getUTCMonth() + 1) + "-" + goal.start.getUTCDate() + "-" + goal.start.getUTCFullYear() %></li>
    <li class="col">End Date: <%= (goal.stop.getUTCMonth() + 1) + "-" + goal.stop.getUTCDate() + "-" + goal.stop.getUTCFullYear() %></li>
    <li class="col">Target: <%= goal.target.toLocaleString() %></li>
    <li class="col"><a href="/goals/delete/<%= goal.id %>" class="link-danger">Delete</a></li>
    <li class="col"><a href="/goals/edit/<%= goal.id %>" class="link-primary">Edit</a></li>

</ul>
<a href="/sessions/add" class="btn btn-success m-1 text-end">Add a Session</a>
<table class="table table-dark table-bordered table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>Stop Time</th>
        <th>Words Written</th>
        <th>Scene ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for (let ses of goal.sessions){ %>
    <tr>
        <td><%= ses.start.toLocaleDateString() %></td>
        <td><%= ses.start.toLocaleTimeString('en-us', {hour12: false}) %></td>
        <td><%= ses.stop.toLocaleTimeString('en-us', {hour12: false}) %></td>
        <td><%= ses.words.toLocaleString() %></td>
        <td><%= ses.sceneId %></td>
        <td> <a href="/sessions/edit/<%= ses.id %>">edit</a> | <a href="/sessions/delete/<%= ses.id %>" class="link-danger">Delete</a> </td>
    </tr>
    <% } %>
    </tbody>
</table>
