<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Goals</title>

</head>
<body>
<h1>Goals:</h1>
<% if (goals.length === 0) { %>
    <h3>No Goals Found</h3>
<% } else { 
    for (let g of goals){%>
      <ul>
        <li><%= g.title%></li>
        <li><%= (g.start.getUTCMonth() + 1) + "-" + g.start.getUTCDate() + "-" + g.start.getUTCFullYear() %></li>
        <li><%= (g.stop.getUTCMonth() + 1) + "-" + g.stop.getUTCDate() + "-" + g.stop.getUTCFullYear() %></li>
        <li><%= g.target.toLocaleString() %></li>
        <li><a href="/goals/<%= g.id %>">View Details</a></li>
      </ul>
    <% } %>
<% } %>
</body>
</html>
